.mainConteiner {
  margin: 0 auto;
  width: 640px;
  max-height: calc(100vh- 200px);
}

.status {
  font-size: 16px;
  color: #00CCCC;
  text-align: left;
}

.name {
  text-align: left;
}

.structureText {
  text-align: left;
}

.ingredientConteiner {
  display: flex;
  flex-direction: row;
}

.priceConteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
}

.ingredienrName {
  width: 350px;
  margin: 0;
  align-self: center;
  overflow-wrap: break-word;
  text-align: left;
}

.ingredientPrice {
  margin-right: 10px;
}

.image {
  width: 64px;
  height: 64px;
}

.ingredientsConteiner {
  max-height: 150px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.ingredientsConteiner::-webkit-scrollbar {
  width: 8px;
  /* ширина scrollbar */
}

.ingredientsConteiner::-webkit-scrollbar-track {
  background: #2F2F37;
  /* цвет дорожки */
}

.ingredientsConteiner::-webkit-scrollbar-thumb {
  background-color: #8585AD;
  /* цвет плашки */
  /* border-radius: 20px;       закругления плашки */
  /* border: 3px solid orange;  padding вокруг плашки */
}

.bottomInfo {
  display: flex;
  flex-direction: row;
}

.totalPrice {
  margin-right: 10px;
}

.totalPriceConteiner{
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: row;
}

