.header {
    color: #F2F2F3;
    background-color: #1C1C21;
}

.contentBox {
    max-width: 1240px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    align-items: center;
}

.logo {
    margin: auto;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.navigationItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 55px;
    align-self: center;
    text-align: center;
    text-decoration: none;
    background: #1C1C21;
    box-sizing: border-box;
    border-radius: 40px;
    color: #8585AD;
}

.navigationItemProf {
    margin-left: auto;
}

.active{
    color: #F2F2F3;
}

.icon{
    width: 20px;
    height: 20px;
    fill: #F2F2F3;
}