.ModalOverlay {
  /* transition: visibility 1s, opacity 1s; */
  position: absolute;
  margin: auto;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 0.6;
  z-index: 0;
  visibility: visible;
}

/* .ModalOverlay-active {
  transition: visibility 1s, opacity 1s;
  visibility: visible;
  opacity: 0.6;
} */