.BurgerConstructor {
    position: relative;
    display: table;
    height: calc(100% - 50px);
    box-sizing: border-box;
}

.conteiner {
    width: 100%;
    overflow: hidden;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    color: inherit;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.conteinerTitle {
    margin-top: 0;
}

.mainConteiner {
    height: calc(100% - 150px);
    box-sizing: border-box;
    overflow-y: scroll;
}

.mainConteiner::-webkit-scrollbar {
    width: 8px;
    /* ширина scrollbar */
}

.mainConteiner::-webkit-scrollbar-track {
    background: #2F2F37;
    /* цвет дорожки */
}

.mainConteiner::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    /* цвет плашки */
    /* border-radius: 20px;       закругления плашки */
    /* border: 3px solid orange;  padding вокруг плашки */
}

.priceConteiner {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    align-items: center;

}

.tabBox {
    display: flex;
}
